/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

.container2                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
.container2 .column,
.container2 .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;}
.row                                        { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha               { margin-left: 0; }
.column.omega, .columns.omega               { margin-right: 0; }

/* Base Grid */
.container2 .one.column,
.container2 .one.columns                     { width: 40px;  }
.container2 .two.columns                     { width: 100px; }
.container2 .three.columns                   { width: 160px; }
.container2 .four.columns                    { width: 220px; }
.container2 .five.columns                    { width: 280px; }
.container2 .six.columns                     { width: 340px; }
.container2 .seven.columns                   { width: 400px; }
.container2 .eight.columns                   { width: 460px; }
.container2 .nine.columns                    { width: 520px; }
.container2 .ten.columns                     { width: 580px; }
.container2 .eleven.columns                  { width: 640px; }
.container2 .twelve.columns                  { width: 700px; }
.container2 .thirteen.columns                { width: 760px; }
.container2 .fourteen.columns                { width: 820px; }
.container2 .fifteen.columns                 { width: 880px; }
.container2 .sixteen.columns                 { width: 940px; }

.container2 .one-third.column                { width: 300px; }
.container2 .two-thirds.column               { width: 620px; }

/* Offsets */
.container2 .offset-by-one                   { padding-left: 60px;  }
.container2 .offset-by-two                   { padding-left: 120px; }
.container2 .offset-by-three                 { padding-left: 180px; }
.container2 .offset-by-four                  { padding-left: 240px; }
.container2 .offset-by-five                  { padding-left: 300px; }
.container2 .offset-by-six                   { padding-left: 360px; }
.container2 .offset-by-seven                 { padding-left: 420px; }
.container2 .offset-by-eight                 { padding-left: 480px; }
.container2 .offset-by-nine                  { padding-left: 540px; }
.container2 .offset-by-ten                   { padding-left: 600px; }
.container2 .offset-by-eleven                { padding-left: 660px; }
.container2 .offset-by-twelve                { padding-left: 720px; }
.container2 .offset-by-thirteen              { padding-left: 780px; }
.container2 .offset-by-fourteen              { padding-left: 840px; }
.container2 .offset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container2                                  { width: 768px; }
    .container2 .column,
    .container2 .columns                         { margin-left: 10px; margin-right: 10px;  margin-top: 10px; margin-bottom: 10px;}
    .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
    .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
    .alpha.omega                                { margin-left: 0; margin-right: 0; }

    .container2 .one.column,
    .container2 .one.columns                     { width: 28px; }
    .container2 .two.columns                     { width: 76px; }
    .container2 .three.columns                   { width: 124px; }
    .container2 .four.columns                    { width: 172px; }
    .container2 .five.columns                    { width: 220px; }
    .container2 .six.columns                     { width: 268px; }
    .container2 .seven.columns                   { width: 316px; }
    .container2 .eight.columns                   { width: 364px; }
    .container2 .nine.columns                    { width: 412px; }
    .container2 .ten.columns                     { width: 460px; }
    .container2 .eleven.columns                  { width: 508px; }
    .container2 .twelve.columns                  { width: 556px; }
    .container2 .thirteen.columns                { width: 604px; }
    .container2 .fourteen.columns                { width: 652px; }
    .container2 .fifteen.columns                 { width: 700px; }
    .container2 .sixteen.columns                 { width: 748px; }

    .container2 .one-third.column                { width: 236px; }
    .container2 .two-thirds.column               { width: 492px; }

    /* Offsets */
    .container2 .offset-by-one                   { padding-left: 48px; }
    .container2 .offset-by-two                   { padding-left: 96px; }
    .container2 .offset-by-three                 { padding-left: 144px; }
    .container2 .offset-by-four                  { padding-left: 192px; }
    .container2 .offset-by-five                  { padding-left: 240px; }
    .container2 .offset-by-six                   { padding-left: 288px; }
    .container2 .offset-by-seven                 { padding-left: 336px; }
    .container2 .offset-by-eight                 { padding-left: 384px; }
    .container2 .offset-by-nine                  { padding-left: 432px; }
    .container2 .offset-by-ten                   { padding-left: 480px; }
    .container2 .offset-by-eleven                { padding-left: 528px; }
    .container2 .offset-by-twelve                { padding-left: 576px; }
    .container2 .offset-by-thirteen              { padding-left: 624px; }
    .container2 .offset-by-fourteen              { padding-left: 672px; }
    .container2 .offset-by-fifteen               { padding-left: 720px; }
}


/*  #Mobile (Portrait)
================================================== */


@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container2 { width: 420px; }
    .container2 .columns,
    .container2 .column {  margin-left: 0; margin-right: 0; margin-top: 10px; margin-bottom: 10px;}

    .container2 .one.column,
    .container2 .one.columns,
    .container2 .two.columns,
    .container2 .three.columns,
    .container2 .four.columns,
    .container2 .five.columns,
    .container2 .six.columns,
    .container2 .seven.columns,
    .container2 .eight.columns,
    .container2 .nine.columns,
    .container2 .ten.columns,
    .container2 .eleven.columns,
    .container2 .twelve.columns,
    .container2 .thirteen.columns,
    .container2 .fourteen.columns,
    .container2 .fifteen.columns,
    .container2 .sixteen.columns,
    .container2 .one-third.column,
    .container2 .two-thirds.column  { width: 420px; }

    /* Offsets */
    .container2 .offset-by-one,
    .container2 .offset-by-two,
    .container2 .offset-by-three,
    .container2 .offset-by-four,
    .container2 .offset-by-five,
    .container2 .offset-by-six,
    .container2 .offset-by-seven,
    .container2 .offset-by-eight,
    .container2 .offset-by-nine,
    .container2 .offset-by-ten,
    .container2 .offset-by-eleven,
    .container2 .offset-by-twelve,
    .container2 .offset-by-thirteen,
    .container2 .offset-by-fourteen,
    .container2 .offset-by-fifteen { padding-left: 0; }

}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 319px) {
    .container2 { width: 220px; }
    .container2 .columns,
    .container2 .column { margin-left: 0; margin-right: 0; margin-top: 10px; margin-bottom: 10px;}

    .container2 .one.column,
    .container2 .one.columns,
    .container2 .two.columns,
    .container2 .three.columns,
    .container2 .four.columns,
    .container2 .five.columns,
    .container2 .six.columns,
    .container2 .seven.columns,
    .container2 .eight.columns,
    .container2 .nine.columns,
    .container2 .ten.columns,
    .container2 .eleven.columns,
    .container2 .twelve.columns,
    .container2 .thirteen.columns,
    .container2 .fourteen.columns,
    .container2 .fifteen.columns,
    .container2 .sixteen.columns,
    .container2 .one-third.column,
    .container2 .two-thirds.column { width: 220px; }
}

/* #Mobile 
================================================== */


@media only screen and (min-width: 320px) and (max-width: 479px) {
    .container2 { width: 300px; }
    .container2 .columns,
    .container2 .column {  margin-left: 0; margin-right: 0;  margin-top: 10px; margin-bottom: 10px;}

    .container2 .one.column,
    .container2 .one.columns,
    .container2 .two.columns,
    .container2 .three.columns,
    .container2 .four.columns,
    .container2 .five.columns,
    .container2 .six.columns,
    .container2 .seven.columns,
    .container2 .eight.columns,
    .container2 .nine.columns,
    .container2 .ten.columns,
    .container2 .eleven.columns,
    .container2 .twelve.columns,
    .container2 .thirteen.columns,
    .container2 .fourteen.columns,
    .container2 .fifteen.columns,
    .container2 .sixteen.columns,
    .container2 .one-third.column,
    .container2 .two-thirds.column { width: 300px; }
}


/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container2:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}








.golden-color{
    color: 	rgb(218,165,32)!important;
}
.bronze-color{
    color:  #cd7f32!important;
}


#services{
    position: relative;
    margin: 0 auto;
    width: 100%;
    background:  url(../img/textcher-w-3.jpg) repeat;
    overflow:hidden;
    padding-top:60px;
}

#services .background-pat{
    padding-top:45px;
    padding-bottom:45px;
}
#services .title .angle {
    left:175px;
}
#services .title .line-vert {
    left:175px;
}
#services .background-pat1-last{
    padding-bottom:10px;
}
.services-offer{
    position: relative;
    margin: 0 auto;
    border-radius:5px;
    padding-bottom:20px;
    width: 100%;
    background:  url(../img/classy_fabric.png) repeat;
    box-shadow: 0 2px 7px rgba(0,0,0,.4);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.services-offer:hover{
    background: #292929;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 9px 9px -7px rgba(0,0,0,.2);
    -moz-box-shadow: 0 9px 9px -7px rgba(0,0,0,.2);
    box-shadow: 0 9px 9px -7px rgba(0,0,0,.2);
}
.services-offer:hover h5,
.services-offer:hover p,
.services-offer:hover .services-icon1:before,
.services-offer:hover .services-icon2:before,
.services-offer:hover .services-icon3:before{
    color: #ff0e2a;
}
.services-offer h5{
    text-align:center;
    padding-top:20px;
    padding-bottom:30px;
}
.services-offer p{
    text-align:center;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
}
.services-offer .services-icon1{
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align:center;
    height: 60px;
}
.services-offer .services-icon1:before{
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f0d0";
    width: 100%;
    color: #ff0e2a;
    font-size:60px;
    line-height: 60px;
    display: block;
    text-align:center;
    z-index: 1;
}
.services-offer .services-icon2{
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align:center;
    height: 60px;
}
.services-offer .services-icon2:before{
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f108";
    width: 100%;
    color: #ff0e2a;
    font-size:60px;
    line-height: 60px;
    display: block;
    text-align:center;
    z-index: 1;
}
.services-offer .services-icon3{
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align:center;
    height: 60px;
    -webkit-animation: spinAround 6s linear infinite;
    -moz-animation: spinAround 6s linear infinite;
    animation: spinAround 6s linear infinite;
}
.services-offer .services-icon3:before{
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f0ac";
    width: 100%;
    /*color: #ff0e2a;*/
    font-size:68px;
    line-height: 60px;
    display: block;
    text-align:center;
    z-index: 1;
    -webkit-animation: spinAround 6s linear infinite;
    -moz-animation: spinAround 6s linear infinite;
    animation: spinAround 6s linear infinite;
}

.no-touch.cssanimations .services-offer .services-icon3:before {
    -webkit-animation: spinAround 6s linear infinite;
    -moz-animation: spinAround 6s linear infinite;
    animation: spinAround 6s linear infinite;
}

.services-list p { margin: 10px 0 10px 0;padding:0; }


.list-services li {
    list-style: none;
    margin:0 auto;
    text-align: center;
    border-top:1px solid rgba(0,0,0,.1);
    margin-left:20px;
    margin-right:20px;
}
.list-services li:last-child {
    border-bottom:1px solid rgba(0,0,0,.1);
}

.services-offer:hover .list-services li{
    border-top:1px solid rgba(255,255,255,.1);
}
.services-offer:hover .list-services li:last-child{
    border-bottom:1px solid rgba(255,255,255,.1);
}


.services-link {
    position: relative;
    width:100%;
    text-align:center;
}
.services-link a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    text-align:center;
}
.cl-effect-9 a {
    margin: 0 10px;
    padding: 18px 10px;
}

.cl-effect-9 a::before,
.cl-effect-9 a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0.2;
    -webkit-transition: opacity 0.3s, height 0.3s;
    -moz-transition: opacity 0.3s, height 0.3s;
    transition: opacity 0.3s, height 0.3s;
}


.cl-effect-9 a span:first-child {
    z-index: 2;
    display: block;
    font-weight: 300;
}

.cl-effect-9 a span:last-child {
    z-index: 1;
    display: block;
    padding: 0 0 0 0;
    color: #ff0e2a;
    text-shadow: none;
    text-transform: none;
    font-size: 2em;
    font-family: 'FontAwesome';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:focus::before {
    height: 6px;
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:hover::after,
.cl-effect-9 a:focus::before,
.cl-effect-9 a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.cl-effect-9 a:hover span:last-child,
.cl-effect-9 a:focus span:last-child {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
}
.dark .graybg{
    /*background: #191919;*/
    /*background: #191919;*/
    position: relative;
    margin: 0 auto;
    width: 100%;
    background: url(../img/debut_dark.png) repeat!important;
    padding-top: 40px;
    padding-bottom: 40px;

}











@media only screen and (min-width: 1930px) { .parallax { background-size: cover; } }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .parallax { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
    .parallax { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
.parallax{
    width:100%;
    padding:0;
    margin:0;
    background-attachment:fixed;
    background-repeat:repeat;
    background-size:cover;
    color:#000;
    z-index:1;
    overflow:hidden;
}
.parallax-wrap{
    position: relative;
    /*padding-top:100px;*/
    /*padding-bottom:100px;*/
    margin: 0 auto;
    width: 100%;
    overflow:hidden;
    z-index:2;
}
.parallax-wrap h5,h4{
    margin-bottom:30px;
    text-align:center;
}
.parallax-wrap span{
    background: rgba(38,38,38,.9);
    padding:10px;
}


#flkr ul{
    float:left;
    overflow:hidden;
}
#flkr li{
    float:left;
    margin-right:2.5px;
    padding:0;
    overflow:hidden;
    border:0;
}
#flkr {
    position: relative;
}

#flkr img{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#flkr img:hover{
    opacity:0.8;
}


#parallax-2 .parallax-wrap{
    /*padding-bottom:150px;*/
}
.testimonial{
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow:hidden;
    background: rgba(38,38,38,.9);
    z-index:2;
}
.testimonial h6{
    text-align:center;
    font-style: italic;
    font-family: 'OpenSans-Light-webfont';
    color:#fff;
    padding:20px;font-size: 20px; line-height: 26px;
    text-transform: none;font-weight:100
}
.testimonial p{
    text-align:center;
    background:url('../img/line.png') no-repeat center top;
    color:#fff;
    padding-top:20px;
    padding-bottom:20px;
    font-weight:500;
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

.h-15vw{
    /*height: 15vw;*/
    height: calc(8vw + 10em)!important;
}
.Img-cover{
    object-fit: cover;
}
.Img-fill{
    object-fit: fill;
}
.rotation-img-layer1{
    transform: rotateX(68deg) rotateY(0deg) rotateZ(32deg)  translateY( 2px)!important;
}.rotation-img-layer2{
    transform: rotateX(68deg) rotateY(0deg) rotateZ(32deg)  translateY( 2px) !important;
}.rotation-img-layer3{
    transform: rotateX(68deg) rotateY(0deg) rotateZ(32deg)  translateY( 2px)!important;
}
.rotation-img-layer {
    /*border:2px solid red;*/
    transform: rotateX(68deg) rotateY(0deg) rotateZ(32deg)  translateY( 2px)!important;

}



